@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-gray-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 90%);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: $dark-cyan;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 40vw bottom 45vh, 40vw 45vh;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

p {
    color: $dark-gray-blue;
}

h1,
h2 {
    color: $dark-blue;
    font-size: 1rem;
}


$main-width: 330px;
$main-border: 0.8em;

main {
    background: white;
    width: $main-width;
    border-radius: $main-border;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5.5em 0 1.5em;

        .victor {
            border-radius: 50%;
            border: .35em solid white;
        }

        .name-age {
            display: flex;
            align-items: center;
            gap: .6em;
            padding: 1em 0 .4em;
        }

        .location {
            font-size: 0.8rem;
        }
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid $dark-gray;
        padding: 1.2em 0;

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .3em;

            letter-spacing: .1rem;

            p {
                font-size: .6rem;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}